/* 이달의 혜택 css */

/*
사용된 글꼴
font-family: 'Noto Sans KR', sans-serif;

포인트컬러
#e83756
#2b2b2b
#727171
*/

/*작업한 항목 표시*/
#gnb .m ul li > #noti_sign, #gnb .m ul li > #bene_sign{color:#e83756; font-weight: 500;}

/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*/
.nav-pills-custom .nav-link {
    color: #aaa;
    background: #fff;
    position: relative;
}

.nav-pills-custom .nav-link.active {
    color: #45b649;
    background: #fff;
}


/* Add indicator arrow for the active tab */
@media (min-width: 992px) {
    .nav-pills-custom .nav-link::before {
        content: '';
        display: block;
        border-top: 8px solid transparent;
        border-left: 10px solid #fff;
        border-bottom: 8px solid transparent;
        position: absolute;
        top: 50%;
        right: -10px;
        transform: translateY(-50%);
        opacity: 0;
    }
}

.nav-pills-custom .nav-link.active::before {
    opacity: 1;
}

.fa-user-circle-o:before,.fa-calendar-minus-o:before, .fa-star:before, .fa-check:before{display:none;}










html, body {position: relative; height: 100%;}

.container{margin:0 auto; padding:0; max-width: 1600px !important;}

.inner{border:0px solid yellow; max-width:1500px; margin:0 auto; width:calc(100% - 36px);}

.clearfix:after{content: ""; display: block; clear: both;}


/*헤더*/
header{border: 0px solid blue; background:#fff; height: 80px;}

.skip_nav{ position:absolute; left:0; top : -61px; }
.skip_nav a{ color :#fff; display :block; padding: 20px 0; font-size:20px; text-align:center; background : #2b2b2b ; width : 100%; }

.gnb_wrap{position: relative;}
.gnb_wrap h1{position: absolute; top: 28px; margin-left: 80px; z-index: 999;}
.gnb_wrap h1 a{display:block;}
.menuwrap{height: 92px; }


#gnb {padding-left: 280px; margin-top: 21px; display: inline-block;}
#gnb:after { content: "";  display: block; clear: both;}
#gnb .m { float: left; width: 155px; text-align: center; position: relative; margin-right: 40px;}
#gnb .m:last-child{margin-right: 0;}
#gnb .m > a { display: block; height: 40px;  line-height: 40px; font-size: 1.4em; color:#727171;}
#gnb .m.on > a { box-sizing: border-box; color:#fff; background:#2b2b2b; text-decoration: none;}

#gnb .m ul { position: absolute; left: 0;  top: 40px; width: 100%; background: #2b2b2b; display: none; z-index: 99;}
#gnb .m ul li a { display: block; color: #fff; padding: 12px 0; border-bottom: 1px solid #333; font-weight: 400;}
#gnb .m ul li:last-child a{ border: none;}

#menu{position: relative;}
#nav_search{position: absolute; top: 50%; right: 0; transform: translate(0, -50%); margin-top: 10px;}

input{display: none;}


/*경로*/

.route{display: flex; align-items: center; border:0px solid red; font-size: 20px; float: right; margin-top:50px; margin-right: 50px;}

.route span{margin: 0 20px; display: flex; align-items: center;}

.route span:last-child{margin-right: 0;}

.route span a{display: flex; align-items: center; color: #212529}

.route span a > img{margin-right: 3px;}


/*이달의 혜택*/
.header{margin-top: 130px; font-family: 'Noto Sans KR', sans-serif;}
.header h1{font-size: 40px; color:#2b2b2b; margin-bottom: 30px; text-align: center;}
.header h1 b{font-size:20px; color:#727171;}

.cont_box{padding: 50px 10px; display: flex; flex-wrap:wrap; }
.cont_box a{display:block; margin:20px 31px; position: relative; width: 295px; height: 420px;}
.cont_box a img{width: 100%;}

.cont_box a.on{text-decoration: none;}

.cont_box a.on .hover_line{ animation: fadeInTxt 1s forwards;}
.cont_box a.on .hover_cont{ animation: fadeInTxt 1s forwards;}

@keyframes fadeInTxt{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


.hover_line{display: none;  position: absolute; border: 1px solid #fff; width: 85%; height: 80%; z-index: 999; left: 50%; bottom: 50%; transform: translate(-50%, 45%);
border-radius: 9px;}

.hover_cont{display: none; background-color:rgba(0,0,0,0.5); position: absolute; width: 100%; height: 90%; top: 0; border-radius: 12px; color: #fff; text-align: center; padding-top: 70px;}

.hover_tit{display: block; margin-bottom: 120px; font-size: 25px; font-weight: 700; }

.hover_sub{font-size: 16px; font-weight: 400;}
.hover_sub b{font-size: 13px; font-weight: 300; color:#e2e2e2;}

.cont_box a.on .hover_cont,.cont_box a.on .hover_line{display: block;}

.sub_cont{border:0px solid yellow; display: flex; align-items: center; justify-content:center; margin-top: 20px;}

.sub_tit{border: 1px solid #727171; font-size: 16px; color: #727171; height: 30px; width: 54px; text-align: center; line-height: 1.6;}
.sub_stance{margin-left: 20px; font-size: 15px; font-weight: 700; color:#2b2b2b; line-height: 1.4;}
.sub_stance b{font-size: 19px; font-weight:400;}


.col-md-3{flex: 0 0 10% !important;}
.row{justify-content: center;}
.rounded{border: 1px solid #cacaca; border-radius: 30px!important;}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link{    background-color: #e83756 !important;}

.nav-link mb-3 p-3 shadow{border-radius: 40px; height: 50px; width: 50px; padding-top: 10px;}
.nav-pills .nav-link{width:100px;}



/*푸터*/
footer{height: 260px; float:left; width:100%; background: #f4f3f3; font-size:20px; color:#2b2b2b; margin-top: 150px;}

footer .inner{padding-top: 50px;}

footer h1{position: absolute;}

footer address{display: inline-block; padding-left: 200px;}

footer address span{display: block;}

footer address span:first-child{font-size: 27px;}

footer address span:nth-child(2){margin: 15px 0;}

footer address span br{display: none;}

footer address span b{color:#727171;}

footer address span:nth-child(3){font-size: 18px; color: #727171;}

.sns_btn{border:0px solid yellow; width:30%; float:right;}

.sns_btn a{display: inline-block; height: 50px; width:50px; margin-right: 17px; background: url(../img/foot_insta_logo.png) no-repeat;}

.sns_btn a:nth-child(2){background: url(../img/foot_twt_logo.png) no-repeat;}
.sns_btn a:nth-child(3){background: url(../img/foot_youtube_logo.png) no-repeat;}
.sns_btn a:nth-child(4){background: url(../img/foot_blog_logo.png) no-repeat;}
.sns_btn a:nth-child(5){background: url(../img/foot_face_logo.png) no-repeat;}
.sns_btn a:last-child{background: url(../img/foot_pinter_logo.png) no-repeat;}

.agency{margin-top: 36px; float: right;}

.agency span img{padding: 0 30px 0 20px;}



/* cumputer */
@media screen and (max-width: 1500px){

	/*헤더*/
	
	#gnb{position: relative;}
	#gnb .m{width: 11.34vw; margin-right: 0.66vw;}
    #nav_search img{width:70%;}
    
    /*이달의 혜택*/
    .cont_box a{width: 19.66vw; height: 28vw; margin: 3.33vw 1.06vw;}
    .hover_tit{margin-bottom: 6.91vw;}
    

	/*푸터*/
	.sns_btn{width: 30.46vw;}
	.sns_btn a{margin-right: 0;}
}

/* big tablet */
@media screen and (max-width: 1200px){

	/*헤더*/
	
	#gnb{padding-left: 24.333vw;}
	#gnb .m{width: 10.34vw;}
	#gnb .m > a{font-size: 1em;}
	#gnb .m ul li a{font-size: 0.8em;}

    
    /*이달의 혜택*/
    .cont_box a{width: 23.51vw; height: 35vw; margin: 0px 5vw 10.66vw 4vw;}
    .hover_tit{margin-bottom: 12.5vw; font-size: 2.08vw;}
    .hover_cont{height: 85.5%; padding-top: 54px;}
    .hover_line{transform: translate(-50%, 42%);}
    .hover_sub{font-size: 1.33vw;}
    .hover_sub b{font-size: 1.08vw;}
    
	/*푸터*/

	footer{height: 23.25vw; font-size: 1.66vw;}

	footer .inner{padding-top: 4.16vw;}

	footer address{padding-left: 16.66vw;}
	footer address span:first-child{    font-size: 2.25vw;}
	footer address span:nth-child(3){font-size: 1.5vw;}

	.sns_btn{width: 31.46vw;}

	.agency{margin-top: 4.16vw;}

	.sns_btn a{background-size: 90%;}
	.sns_btn a:nth-child(2){background-size: 90%;}
	.sns_btn a:nth-child(3){background-size: 90%;}
	.sns_btn a:nth-child(4){background-size: 90%;}
	.sns_btn a:nth-child(5){background-size: 90%;}
	.sns_btn a:last-child{background-size: 90%;}
}


/* tablet */
@media screen and (max-width: 1024px){

	/*헤더*/
	
	.gnb_wrap h1{margin-left: 1.81vw;}
	#gnb{padding: 0; margin: 0; float: none;}
	#gnb .m{width: 100%; margin-bottom: 55px;}
    #gnb .m ul{position: static;}
	
	header input {display: block;position: fixed; z-index: 500;border: 0;}
	.menuwrap {position: fixed; top: 0;right: -500px; z-index:3 ; overflow: auto;width: 48.8vw;height: 100%;padding-top:200px; box-sizing: border-box;transition: left .3s ease-in-out;background-color: #fff;font-size: 23px;}
	.menuwrap.on {right: 0;}
	#nav_search{margin-top: 0; top: -150px; left: 30px;}
	#nav_search img{width:auto;}


	input[id="menuicon"]{display:none;}
	input[id="menuicon"]+label{width:50px; height:30px; position:relative; cursor:pointer; position: absolute; right: 25px; top:28px; z-index: 10;}
	input[id="menuicon"] + label span{display:block; position:absolute; width:100%; height:3px; border-radius:30px;  background:#2b2b2b; transition:all .35s;}
	input[id="menuicon"] + label span:nth-child(1){top:0;}
	input[id="menuicon"] + label span:nth-child(2){top:50%; transform:translateY(-50%);}
	input[id="menuicon"] + label span:nth-child(3){bottom:0;}

	input[id="menuicon"]:checked + label span{background:#2b2b2b;}
	input[id="menuicon"]:checked + label span:nth-child(1){top:50%; transform:translateY(-50%) rotate(45deg);}
	input[id="menuicon"]:checked + label span:nth-child(2){opacity:0;}
	input[id="menuicon"]:checked + label span:nth-child(3){bottom:50%; transform:translateY(50%) rotate(-45deg)}

	nav_search{right: 100px;}
    
    
    /*이달의 혜택*/
    .header h1{font-size: 3.9vw;}
    .header h1 b{font-size: 1.95vw;}
    
    .hover_tit{margin-bottom: 5.5vw;}
    .sub_tit{font-size: 13px; height: 23px; width: 31px;}
    
    .sub_stance{font-size: 13px; margin-left: 0.95vw;}
    
    .sub_stance b{font-size: 14px;}
    

	/*푸터*/
    footer{margin-top: 9.76vw;}

	footer h1 img{width: 12vw;}

	footer address{padding-left: 14.66vw;}

	.agency span{font-size: 1.56vw;}

	.sns_btn{width: 28.46vw;}

	.sns_btn a{width: 4.394vw; height: 4.394vw;}
	.sns_btn a:nth-child(2){background-size: 90%;}
	.sns_btn a:nth-child(3){background-size: 90%;}
	.sns_btn a:nth-child(4){background-size: 90%;}
	.sns_btn a:nth-child(5){background-size: 90%;}
	.sns_btn a:nth-child(6){background-size: 90%;}

	.agency span img{padding: 0 0.92vw 0 1.95vw;     width: 20vw;}
}

/*세로 탭 제이쿼리 분기점*/
@media screen and (max-width: 767px){
    
    /*이달의 혜택*/
    .header h1{font-size: 4.21vw;}
    .header h1 b{font-size: 2.6vw; font-weight: 500;}
    
    .nav-pills .nav-link{width: 67px;}
    .small, small{font-size: 60% !important;}
    
    .row{display: inline-block !important;}
    .nav{display: inline-block !important;}
    .nav-link{display: inline-block !important;}
    
    .cont_box a{width: 36.15vw; height: 54.75vw; margin: 2.6vw 4.04vw;}
    .hover_tit{font-size: 2.99vw; margin-bottom: 12.55vw;}
    .hover_cont{height: 84%;}
    .hover_line{height: 75%; transform: translate(-50%, 40%);}
    .hover_sub{font-size: 1.95vw;}
    .hover_sub b{font-size: 1.69vw;}
}

/* big mobile */
@media screen and (max-width: 640px){
    
    /*헤더*/
    #gnb{display: block;}
	.menuwrap{width: 100%; right: -645px;}
    input[id="menuicon"]+label{width: 35px; height: 22px; right: 5px;}
    
    .route{font-size: 2.125vw; margin-top: 4vw; margin-right: 4.812vw;}
    .route span{margin: 0 1.125vw;}
    .route span > img{width: 3vw;}
    
    /*이달의 혜택*/
    .header h1{font-size: 33px;}
    .header h1 b{font-size: 18px;}
    .cont_box a{width: 59.37vw; height: 83.8vw; margin: 0 auto; margin-bottom: 9.375vw;}
    .sub_tit{font-size: 2.5vw; height: 4.68vw; width: 7.96vw;}
    .sub_stance{font-size: 2.5vw; margin-left: 3.125vw;}
    .sub_stance b{font-size: 3.28vw;}
    
    .hover_cont{padding-top: 12.31vw; height: 90%;}
    .hover_line{height: 80%; transform: translate(-50%, 45%);}
    .hover_tit{font-size: 4.68vw; margin-bottom: 25.25vw;}
    .hover_sub{font-size: 3.125vw;}
    .hover_sub b{font-size: 2.96vw;}

	/*푸터*/
	footer{height: 33.25vw; position: relative; margin-top:12.93vw;}
	footer .inner{padding-top: 10.16vw;}
	footer h1{top:2.5vw; left:39.125vw;}
	footer h1 img{width: 20vw;}
	footer address{padding: 0; display: block; text-align: center;}
	footer address span:nth-child(2){margin: 2.25vw 0; font-size: 2.5vw;}
	footer address span:first-child{display: none;}
	footer address span:nth-child(3){font-size: 2.5vw;}
	.sns_btn{float: none; margin:0 auto; margin-top: 1.56vw; width: 29.46vw;}
	.agency{float: none;
    text-align: center;
    margin-top: 2.16vw;}




/* mobile */
@media screen and (max-width: 375px){
    
    /*헤더*/
    .gnb_wrap h1 a > img{width:26vw;}
    
    /*경로*/
    .route{display: none;}
    
    /*이달의 혜택*/
    .sub_cont{margin-top: 4.33vw;}
    .sub_tit{height: 19px;}
    .hover_cont{border-radius: 7px;}
    
    .hover_tit{margin-bottom: 19.25vw;}
    

	/*푸터*/
	footer{height: 63.25vw; margin-top: 7.93vw;}
	footer .inner{padding-top: 12.16vw;}
	footer h1{top: 6.5vw;}
	footer address span:nth-child(2){line-height: 1.8; font-size: 1.5vw; margin: 5.25vw 0;}
	footer address span:nth-child(3){display: none;}
	footer address span br{display: block;}
	.sns_btn{margin-top: 5.56vw; width: 44.46vw;}
	.sns_btn a{width: 6.394vw; height: 6.394vw;}
	.agency{margin-top: 3.16vw;}
}